In [45]:
import pandas as pd

data = pd.read_excel('./Data/mountain.xlsx')
data.loc[60] = ['2020 8월 29일']+[data.iloc[:, i].sum() for i in range(1, int(data.shape[1]))]
data

             구분      어리목       영실      성판악     관음사    돈내코
0      2014년 1월    38438    23593    63950    7769   2428
1      2014년 2월    26338    26009    39079    4497   1338
2      2014년 3월    25865    15816    29038    2476   1302
3      2014년 4월    36917    21065    33980    4017    997
4      2014년 5월    32995    30804    34533    5813   1681
..          ...      ...      ...      ...     ...    ...
56     2018년 9월    15534    19359    21581    4289    222
57    2018년 10월    29580    36817    38166    7095    622
58    2018년 11월    21422    25068    28438    7009    342
59    2018년 12월    18264    12957    18035    3494    185
60  2020 8월 29일  1706936  1399515  1902546  332172  39919

[61 rows x 6 columns]